body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFF0;
}
header{
    top: 0;
    height: 8vh;
    width: 100%;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
}
main{
    height: 100%;
    margin-top: 9vh;
    margin-bottom: 5vh;
}
.navBar{
    padding: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navBarLogo{
    margin: 10px;
    align-items: center;
    display: flex;
}
.navBarLogo img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
}
.navBarList{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navBarListItem{
    align-items: center;
    display: flex;
}
.navBarListItem a{
    text-decoration: none;
    color: white;
}
.welcomeAside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.welcomeContainer {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
.welcomeHeading {
    font-size: large;
    width: 40%;
}
.welcomeCar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: carAnimation 4s linear infinite;
    width: 60px;
    height: 60px;
}

.welcomeCar img {
    width: 100%;
    height: 100%;
}

@keyframes carAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(100px) rotate(-180deg);
    }
    25% {
        transform: translate(-50%, -50%) rotate(90deg) translateX(100px) rotate(-180deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg) translateX(100px) rotate(-180deg);
    }
    75% {
        transform: translate(-50%, -50%) rotate(270deg) translateX(100px) rotate(-180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(100px) rotate(-180deg);
    }
}

aside{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asideList{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    align-items: center;
}

.asideListElement{
    margin-bottom: 2vh;
}

.asideListElement a{
    text-decoration: none;
    color: black;
}
.articlesHeading{
    margin-left: 20px;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.articlesBox {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article {
    margin: 5vh 0;
    width: calc(50% - 10px); /* Ширина блока статьи - 50% ширины контейнера минус внешние отступы */
    max-width: 300px; /* Максимальная ширина блока статьи */
}
.articlesPageSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articlePage{
    padding: 5vh
}
.articlesBox{
    display: flex;
}
/* Дополнительные стили для размещения статей на две строки */
@media (max-width: 600px) {
    .HomeArticlesBox {
        flex-wrap: wrap;
    }

    .article {
        width: calc(50% - 10px);
    }
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background-color: #f2f2f2;
    text-align: center;
    height: 5vh;
}

.searchFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchHeading{
    margin: 0;
}
.searchResults{
    display: flex;
    flex-direction: column;
    align-items: center;
}


